body {
  background: #e1ede7;
  margin: 0px;
}

.title-box {
  padding: 10px;
  border-bottom: 1px solid #bfbfbf;
  background: #7ca777;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title-box span {
  font-size: 20pt;
  font-family: monospace;
}

a.nav-link {
  text-decoration: none;
  padding: 10px;
  font-size: 16pt;
  font-family: monospace;
  color: white;
}

a.nav-link:hover {
  background: #5a6e64;
}